{% extends 'basic.html' %}
{% block title %}About Us{% endblock title %}
{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="card mb-3 w-100 border-0">
            <div class="row g-0">
              <div class="col-md-4 p-3">
                <img src="static/media/p.jpg" alt="Polyon Mondal - The creator of this website">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text fs-4">Hello, I'm Polyon Mondal. I'm a engineering student in Electronics and Communication Engineering field. I'm pursuing my degree from Gargi Memorial Institute of Technology which is located at Baruipur, Kolkata.<br>My purpose of building this website to record the academic details of every college students through out their academic cerrier. It's also help to mentor to know their student academic growth and they can help their student to strong their protfolio.</p>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card mb-3 w-100 border-0">
            <div class="row g-0">
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text fs-4">Gargi Memorial Institute of Technology (GMIT), an engineering institute in West Bengal was started in 2011 by Mallabhum Human Resource Development Trust (MHRDT) in memory of Lt. Gargi Mukherjee (Banerjee).<br>

                    Barely in its 5th year, GMIT has been ranked 8th amongst all emerging engineering colleges in India because of its educational excellence and professional infrastructural facilities.<br>
                    
                    At GMIT, we always believed that an educational institution is only good for its faculty. That’s why we have gone out of our way to pick top – draw faculty for each of our departments, including former professors of IIT, foreign University, and Jadavpur University. GMIT currently offers courses in five disciplines namely Civil Engineering (CE), Computer Science and Engineering (CSE), Electrical Engineering (EE), Mechanical Engineering (ME) and Electronics and Communication Engineering (ECE). GMIT is approved by All India Council of Technical Education (AICTE) and affiliated to Maulana Abul Kalam Azad University of Technology (MAKAUT), previously known as West Bengal University of Technology (WBUT).<br>
                    
                    The physical design of the campus consisting of landscape, gardens and horizontal architecture blends organically into its surroundings. GMIT has already roped in international collaboration to facilitate in-class real time learning using advanced technology along with exposure to global trends in industries.<br>
                    
                    The Institute is located on the southern fringe of Kolkata, at Baruipur, an upcoming satellite town and caters to students from reputed schools of India.</p>
                </div>
              </div>
              <div class="col-md-4 p-3">
                <img src="static/media/images.jpg" alt="GMIT">
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}