{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CDC_GMIT | Studentopidia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'CSS/cdc.css' %}">
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-basic">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand me-auto" href="#">Welcome {{user}}</a>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16">
                            <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                            <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                          </svg>
                          Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signout">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
                                <path d="M7 12h14l-3 -3m0 6l3 -3"></path>
                            </svg>
                            Sign Out
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid bg pt-5">
        <div class="row justify-content-center my-5 pt-2">
            <div class="col-md-6 mt-5 text-center mytxt">
              <img src="/static/media/cdc.jpg" class="ms-auto image" alt="">
              <p class="fs-1">{{user.first_name}} {{user.last_name}}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-5 rounded-3 shadow box">
                <header class="fs-4 text-center rounded-pill">Student Statistic</header>
                <div class="row d-flex justify-content-center px-2 mt-2">
                    <div class="col-sm-3 fs-6">Total Student:</div>
                    <div class="col-sm-8 py-1">
                        <div class="progress rounded-pill" style="height: 20px;">
                          <div class="progress-bar bg-success rounded-pill" role="progressbar" style="width: 100%;" aria-valuenow="{{student_report.total}}" aria-valuemin="0" aria-valuemax="{{student_report.total}}">{{student_report.total}}</div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center px-2 mt-2">
                    <div class="col-sm-3 fs-6">1st year:</div>
                    <div class="col-sm-8 py-1">
                        <div class="progress rounded-pill" style="height: 20px;">
                          <div class="progress-bar bg-success rounded-pill" role="progressbar" style="width: {{student_report.year_1}}%;" aria-valuenow="{{student_report.year_1}}" aria-valuemin="0" aria-valuemax="100">{{student_report.a}}</div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center px-2 mt-2">
                    <div class="col-sm-3 fs-6">2nd year:</div>
                    <div class="col-sm-8 py-1">
                        <div class="progress rounded-pill" style="height: 20px;">
                          <div class="progress-bar bg-success rounded-pill" role="progressbar" style="width: {{student_report.year_2}}%;" aria-valuenow="{{student_report.year_2}}" aria-valuemin="0" aria-valuemax="100">{{student_report.b}}</div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center px-2 mt-2">
                    <div class="col-sm-3 fs-6">3rd year:</div>
                    <div class="col-sm-8 py-1">
                        <div class="progress rounded-pill" style="height: 20px;">
                          <div class="progress-bar bg-success rounded-pill" role="progressbar" style="width: {{student_report.year_3}}%;" aria-valuenow="{{student_report.year_3}}" aria-valuemin="0" aria-valuemax="100">{{student_report.c}}</div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center px-2 mt-2 mb-2">
                    <div class="col-sm-3 fs-6">4th year:</div>
                    <div class="col-sm-8 py-1">
                        <div class="progress rounded-pill" style="height: 20px;">
                          <div class="progress-bar bg-success rounded-pill" role="progressbar" style="width: {{student_report.year_4}}%;" aria-valuenow="{{student_report.year_4}}" aria-valuemin="0" aria-valuemax="100">{{student_report.d}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 ms-5 rounded-3 shadow box">
                <header class="fs-4 text-center rounded-pill">Skill Analysis</header>
                <div class="container overflow-auto mt-2" style="height: 160px;">
                    {% for i in skill.range %}
                <div class="row d-flex justify-content-center mb-1">
                <div class='col-sm-3'>
                {% for skill in skill.skill %}
                {% if forloop.counter == i %}
                {{skill}}
                {% endif %}
                {% endfor %}
                </div>
                <div class='col-sm-8 py-1'>
                {% for std in skill.students %}
                {% if forloop.counter == i %}
                {% for a in skill.report %}
                {% if forloop.counter == i %}
                <div class="progress rounded-pill" style="height: 20px;">
                    <div class="progress-bar bg-success rounded-pill" role="progressbar" style="width: {{a}}%;" aria-valuenow="{{std}}" aria-valuemin="0" aria-valuemax="100">{{std}}</div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endfor %}
                </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-12 p-2 shadow">
                <header class="fs-4 text-center rounded-pill">Student Data</header>
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="bg-secondary active" aria-current="true" aria-label="Slide 1"></button>
                    {% for i in data.range %}
                    <button type="button" data-bs-target="#carouselExampleIndicators" class="bg-secondary" data-bs-slide-to="{{i}}"></button>
                    {% endfor %}
                    </div>
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="table-responsive overflow-auto p-3 d-flex justify-content-center">
                            <table class= "table table-hover table-bordered border-dark">
                                <thead>
                                    <tr class="text-center fs-3 fw-bold">
                                        <th colspan="4">{{data.mentor.0}} ( Dept: {{data.mentor.0.department}} )</th>
                                    </tr>
                                    <tr class="text-center fs-5">
                                        <th span="col" class="align-middle">Student</th>
                                        <th span="col" class="align-middle">Year</th>
                                        <th span="col" class="align-middle">Skill</th>
                                        <th span="col" class="align-middle">Project</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in data.student_data.0 %}
                                    <tr>
                                        <th span="row" class="text-center align-middle">{{student}}</th>
                                        <td class="text-center align-middle">{{student.year}}</td>
                                        <td>
                                            <ul>
                                            {% for skill in data.student_skill %}
                                                {% for s in skill %}
                                                {% if s.name == student %}
                                                    <li class="list-inline-item">{{s.skill}},</li>
                                                {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                            </ul>
                                        </td>
                                        <td>
                                            <ul>
                                            {% for project in data.student_project %}
                                                {% for p in project %}
                                                {% if p.name == student %}
                                                    <li>{{p.project}}</li>
                                                {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% for mentor in data.mentor|slice:"1:" %} 
                    <div class="carousel-item">
                        <div class="table-responsive">
                            <table class= "table table-hover table-bordered">
                                <thead>
                                    <tr class="text-center fs-3 fw-bold">
                                        <th colspan="4">{{mentor}} ( Dept: {{mentor.department}} )</th>
                                    </tr>
                                    <tr class="text-center fs-5">
                                        <th span="col">Student Name</th>
                                        <th span="col">Year</th>
                                        <th span="col">Skill</th>
                                        <th span="col">Project</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in data.student_data|slice:"1:"%}
                                    <tr>
                                        <th span="row" class="text-center">{{student}}</th>
                                        <td class="text-center">{{student.year}}</td>
                                        <td>
                                            <ul>
                                            {% for skill in data.student_skill %}
                                                {% for s in skill %}
                                                {% if s.name == student %}
                                                    <li class="list-inline-item">{{s.skill}}</li>
                                                {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                            </ul>
                                        </td>
                                        <td>
                                            <ul>
                                            {% for project in data.student_project %}
                                                {% for p in project %}
                                                {% if p.name == student %}
                                                    <li>{{p.project}}</li>
                                                {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bg-secondary" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon bg-secondary" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</body>
</html>