{% extends 'basic.html' %}
{% load static %}
{% block title %}Contact Us{% endblock title %}
{% block head %}<link rel="stylesheet" href="{% static 'CSS/contact.css' %}">{% endblock head %}
{% block body %}
<div class="container ms-auto mt-5 mb-5 shadow rounded-3">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-5 bg1 p-3">
            <header class="text-center mytxt border-bottom border-2 border-light fs-3">Contect Us</header>
            <div class="row mt-3 ps-4">
                <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-facebook" viewBox="0 0 16 16">
                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                    </svg>
                </div>
                <div class="col">
                    <a href="https://www.facebook.com/gargimemorial/" target="_blank"><p class="fs-4" style="color: rgb(255, 255, 255);">gargimemorial</p></a>
                </div>
            </div>
            <div class="row mt-1 ps-4">
                <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-youtube" viewBox="0 0 16 16">
                        <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
                    </svg>
                </div>
                <div class="col">
                    <a href="https://www.youtube.com/channel/UCWGr7Dv8wctoJO3DjxffLOg/featured" target="_blank" rel="noopener noreferrer"><p class="fs-4" style="color: rgb(255, 255, 255);">GMIT Kolkata</p></a>
                </div>
            </div>
            <div class="row mt-1 ps-4">
                <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                    </svg>
                </div>
                <div class="col">
                    <a href="mailto:principalkolkata@gmail.com"><p class="fs-4" style="color: rgb(255, 255, 255);">principalkolkata@gmail.com</p></a>
                </div>
            </div>
            <div class="row mt-1 ps-4">
                <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                    </svg>
                </div>
                <div class="col">
                    <a href="tel:+90 8609444199"><p class="fs-4" style="color: rgb(255, 255, 255);">Phone</p></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 m-3 ms-5 me-5">
            <header class="text-center mytxt fs-3" style="color: black;">Send a Message</header>
            <form class="text-center" action="" >
                <input type="text" name="sender" id="sender" class="form-control mt-2" placeholder="Enter your name*">
                <input type="email" name="email" id="email" class="form-control mt-2" placeholder="Enter your email address">
                <textarea name="message" id="message" cols="30" rows="10" class="form-control mt-2" placeholder="Enter your message*"></textarea>
                <button type="submit" class="btn btn-outline-primary mt-2">Send Message</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}